<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Chetvyorochka</title>
    <link rel="stylesheet" href="~/css/login.css">
    <script src="~/js/validation.js" asp-append-version="true"></script>
</head>
<body>
    <div class="form">
        <h1 class="form_title">Chetvyorochka</h1>
        <div class="enterForm_group">
            <button id="loginTabBtn"
                    class="typeEnterForm_button"
                    onclick="openTab('loginTab',this,'#0c3cc9')">
                Вход
            </button>
            <button class="typeEnterForm_button"
                    onclick="openTab('registerTab',this,'#0c3cc9')">
                Регистрация
            </button>
        </div>
        <div id="loginTab"
             class="tab"
             style="display:block">
            <div class="field_group">
                <input type="text"
                       id="usernameLogin"
                       class="field_input" 
                       placeholder=" ">
                <lable class="field_lable">Логин</lable>
                <lable id="usernameLoginPopup"
                       class="popup_lable">
                </lable>
            </div>
            <div class="field_group">
                <input type="password"
                       id="passwordLogin"
                       class="field_input"
                       placeholder=" ">
                <lable class="field_lable">Пароль</lable>
                <lable id="passwordLoginPopup"
                       class="popup_lable">
                </lable>
            </div>
            <button id="loginBtn"
                    class="typeQuery_button"
                    onclick="login()">
                Войти
            </button>
        </div>
        <div id="registerTab"
             class="tab"
             style="display:none">
            <div class="field_group">
                <input type="text"
                       id="usernameRegister"
                       class="field_input"
                       placeholder=" "
                       autocomplete="off">
                <lable class="field_lable">*Логин</lable>
                <lable id="usernamePopup"
                       class="popup_lable">
                </lable>
                <ul class="input-requirements">
                    <li>Используйте только латиницу и цифры</li>
                    <li>Не содержит пробелы и спец. символы</li>
                    <li>Минимальная длина логина - 5 символа, максимальная - 20 символов</li>
                </ul>
            </div>
            <div class="field_group">
                <input type="text"
                       id="firstNameRegister"
                       class="field_input"
                       placeholder=" "
                       autocomplete="off">
                <lable class="field_lable">*Имя</lable>
                <lable id="firstNamePopup"
                       class="popup_lable">
                </lable>
                <ul class="input-requirements">
                    <li>Используйте только кириллицу</li>
                    <li>Максимальная длина - 20 символов</li>
                </ul>
            </div>
            <div class="field_group">
                <input type="text"
                       id="lastNameRegister"
                       class="field_input"
                       placeholder=" "
                       autocomplete="off">
                <lable class="field_lable">Фамилия</lable>
                <lable id="lastNamePopup"
                       class="popup_lable">
                </lable>
                <ul class="input-requirements">
                    <li>Используйте только кириллицу</li>
                    <li>Максимальная длина - 20 символов</li>
                </ul>
            </div>
            <div class="field_group">
                <input type="password"
                       id="passwordRegister"
                       class="field_input"
                       placeholder=" ">
                <lable class="field_lable">*Пароль</lable>
                <lable id="passwordPopup"
                       class="popup_lable">
                </lable>
                <ul class="input-requirements">
                    <li>Используйте только латиницу и цифры</li>
                    <li>Не используйте пробелы и спец. символы</li>
                    <li>Минимальная длина пароля - 4 символа</li>
                </ul>
            </div>
            <h2 class="prompt">*Поля обязательные к заполнению</h2>
            <button id="registerBtn"
                    class="typeQuery_button"
                    onclick="register()">
                Зарегистрироваться
            </button>
        </div>
        <h2 id="message"
             class="errorMessage"/>
    </div>
</body>
</html>

<script>

    document.getElementById('loginTabBtn').style.backgroundColor = "#0c3cc9";

    var errorMessage = document.getElementById('message');

    var usernameLogin = document.getElementById("usernameLogin");
    var passwordLogin = document.getElementById("passwordLogin");

    var usernameRegister = document.getElementById("usernameRegister");
    var firstNameRegister = document.getElementById("firstNameRegister");
    var lastNameRegister = document.getElementById("lastNameRegister");
    var passwordRegister = document.getElementById("passwordRegister");

    var usernamePopup = document.getElementById("usernamePopup");
    var firstNamePopup = document.getElementById("firstNamePopup");
    var lastNamePopup = document.getElementById("lastNamePopup");
    var passwordPopup = document.getElementById("passwordPopup");
    var usernameLoginPopup = document.getElementById("usernameLoginPopup");
    var passwordLoginPopup = document.getElementById("passwordLoginPopup");

    //////

    /////Запрос на аутентификацию пользователя
    async function login() {
        var username = usernameLogin.value.trim();
        var password = passwordLogin.value.trim();

        if (loginValidate(username, password)) {
            errorMessage.innerText = '';
            const response = await fetch("/Login", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Login: username,
                    Password: password
                })
            });
            const message = await response.json();
            if (response.status == 200) {
                window.location.href = "/Home/Index";
            }
            if (response.status == 400) {
                passwordLogin.value = '';
                showErrorMessage(message.errorText);
            }
            else {
                usernameLogin.value = '';
                passwordLogin.value = '';
                showErrorMessage(message.errorText);
            }
        }
    }

    /////Запрос на регистрацию пользователя
    async function register() {
        var username = usernameRegister.value.trim();
        var firstName = firstNameRegister.value.trim();
        var lastName = lastNameRegister.value.trim();
        var password = passwordRegister.value.trim();

        if (registerValidate(username, firstName, lastName, password)) {
            errorMessage.innerText = '';
            const response = await fetch("/Register", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Login: username,
                    FistName: firstName,
                    LastName: lastName,
                    Password: password
                })
            });
            const message = await response.json();
            if (response.status == 200) {
                window.location.href = "/Home/Index";
            } else {
                usernameRegister.value = '';
                showErrorMessage(message.errorText);
            }
        }
    }

    /////Управление элементами интерфейса
    function openTab(idDiv, element, color) {
        //Скрываем всё содержимое
        var i, tabContent, tablinks;
        tabContent = document.getElementsByClassName("tab");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("typeEnterForm_button");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        document.getElementById(idDiv).style.display = "block";
        element.style.backgroundColor = color;

        errorMessage.innerText = '';
    }

    function showErrorMessage(text){
        errorMessage.style.display = 'block';
        errorMessage.innerText = text;
        setTimeout(function () {
            errorMessage.style.display='none';
        }, 5000);
    }

    /////Валидация данных
    let regCyrillic = /^[А-Яа-яЁё]+$/;
    let regLatinNumber = /^[A-Za-z0-9]+$/;

    const popupLatinNumberText = "Используйте только латинские символы и цифры";
    const popupCyrillicText = "Используйте только кириллицу";

    function loginValidate(username, password) {
        var statusField1 = checkField(5, 20, username, regLatinNumber, usernameLoginPopup, popupLatinNumberText, false);
        var statusField2 = checkField(4, 20, password, regLatinNumber, passwordLoginPopup, popupLatinNumberText, false);
       return statusField1 && statusField2;
    }

    function registerValidate(username, firstName, lastName, password) {
        var statusField1 = checkField(5, 20, username, regLatinNumber, usernamePopup, popupLatinNumberText, false);
        var statusField2 = checkField(1, 20, firstName, regCyrillic, firstNamePopup, popupCyrillicText, false);
        var statusField3 = checkField(1, 20, lastName, regCyrillic, lastNamePopup, popupCyrillicText, true);
        var statusField4 = checkField(4, 20, password, regLatinNumber, passwordPopup, popupLatinNumberText, false);

        return statusField1 && statusField2
            && statusField3 && statusField4;
    }
</script>